@charset 'utf-8';

@import url('ia-writer-quattro/ia-writer-quattro.css');

body {
	font-family: 'iA Writer Quattro', sans-serif;
	background: #F7F7F7;
	color: #222;
}

p, li {
	font-size: .9em;
	line-height: 1.4em;
}
